<div class="page-content">
  <h1>Home page</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus officia
    mollitia nobis illum libero ipsum itaque, veniam non. Repellendus ab iste
    provident aperiam dolorem vitae qui nostrum, exercitationem dolore quos?
    Lorem ipsum, Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Doloribus quasi esse magni nulla. Quia aliquam sapiente consequuntur
    blanditiis. Debitis, blanditiis veritatis! Quasi quam tempora consequatur
    eius corrupti. Ex, ea deleniti. dolor sit amet consectetur adipisicing elit.
    Quasi cum at magnam harum? Dicta dolorum delectus quidem, minima adipisci
    temporibus exercitationem beatae recusandae ab architecto? Deleniti
    recusandae quae animi incidunt. Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Doloribus quasi esse magni nulla. Quia aliquam sapiente
    consequuntur blanditiis. Debitis, blanditiis veritatis! Quasi quam tempora
    consequatur eius corrupti. Ex, ea deleniti. Lorem, ipsum dolor sit amet
    consectetur adipisicing elit. Doloribus quasi esse magni nulla. Quia aliquam
    sapiente consequuntur blanditiis. Debitis, blanditiis veritatis! Quasi quam
    tempora consequatur eius corrupti. Ex, ea deleniti.
    <ul class="home-nav">
      <li><a href="/about">About us</a></li>
      <li><a href="/contact">contact us</a></li>
    </ul>
    <button class="btn btn-success" id="show-metrics">
      Bring the metrics
    </button>
    <p id="metrics"></p>
  </p>
</div>